.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.game-wrapper-deskop{
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.game-card-wrapper-desktop{
  display: flex;
  position: static;  
  width: 50vw;
  height: 100vh;
  text-align: center;
  position: relative;
}


.game-wrapper-mobile{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* border: 1px red solid; */
  align-items: center;
  justify-content: center;
  
}

.game-card-wrapper-mobile{
  display: flex;
  position: static;  
  width: 100vw;
  height: 50vh;
  /* border: 1px blue solid; */
  text-align: center;
  position: relative;
}

.image-wrapper-desktop{
  display: flex;
  object-fit: cover;
  position: static;  
  width: 50vw;
  height: 100vh;
  filter: brightness(40%);
}



.image-wrapper-mobile{
  display: flex;
  object-fit: cover;
  position: static;
  /* border: 1px green solid; */
  width: 100vw;
  height: 50vh;
  filter: brightness(40%);
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle{
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes SlideUp {
  from{
    transform: translateY(100%);
  }
  to{
    transform: translateY(0%);
  }
}

.correct{
  height: 105px;
  width: 105px;
  background-color: #56F5B6;
  position: absolute;
  animation: SlideUp .3s ease-in-out;
}

.wrong{
  height: 105px;
  width: 105px;
  background-color: #F57156;
  position: absolute;
  animation: SlideUp .3s ease-in-out;
}

.svg{
  height: 60px;
  width: 60px;
  z-index: 1;
}

.vs{
  z-index: 1;
}

.text-wrapper{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  color:rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  align-items: center;
}

.btn1{
  width: 150px;
  height: 50px;
  margin-bottom: 20px;
  background: none;
  color: #e0e0e0;
  border: 1px white solid;
  border-radius: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn2{
  width: 150px;
  height: 50px;
  margin-bottom: 20px;
  background: none;
  color: #e0e0e0;
  border: 1px white solid;
  border-radius: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn3{
  width: 150px;
  height: 50px;
  margin-bottom: 20px;
  background: #aec3dc;
  color: #151515;
  border: 1px rgb(19, 19, 19) solid;
  border-radius: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rating{
  font-size: 50px;
  font-weight: bold;
  color: #fff34a;
}

.score{
  font-size: 40px;
  color: #f1f1f1;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgb(255, 255, 255);
  margin: 5px;
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgb(255, 255, 255);
  margin-left: 6px;
}

.lost-overlay{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.lost-box{
  height: 300px;
  width: 600px;
  background-color: #3c3c3e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@keyframes SlideUp {
  from{
    transform: translateY(100%);
  }
  to{
    transform: translateY(0%);
  }

}

@keyframes SlideSide {
  to{
    transform: translateX(-100%);
  }
}

@keyframes SlideUp2 {
  to{
    transform: translateY(-100%);
  }
}

.imageWrapper-animate-mobile{
  position: absolute;
  animation: SlideUp2 400ms ease;
  animation-fill-mode: forwards;  
}

.imageWrapper-animate-desktop{
  position: absolute;
  animation: SlideSide 400ms ease;
  animation-fill-mode: forwards;  
}

.menu-bg-wrapper{
  background-image: linear-gradient(to top, #041c32, #031f34, #032135, #032437, #032638, #03293c, #042d40, #043044, #04354c, #053b53, #05405b, #064663);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #3c3c3e;
  /* border: 3px solid green; */
}

.menu-wrapper{
  height: 800px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  background-color: #3c3c3e;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.75rem rgb(29, 29, 29));
  /* border: 3px solid red; */
  z-index: 1;
}

.menu-wrapper-header{
  height: 200px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
  /* border: 3px solid blue; */
  z-index: 1;
}

.menu-wrapper-body{
  height: 700px;
  width: 700px;
  /* background-color: #3c3c3e; */
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid gray; */
  z-index: 1;
}

.menu-wrapper-body-option{
  height: 400px;
  width: 700px;
  /* background-color: #3c3c3e; */
  margin: auto;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid blueviolet; */
  z-index: 1;
}

.menu-wrapper-body-option2{
  height: 200px;
  width: 700px;
  /* background-color: #3c3c3e; */
  margin: auto;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid blueviolet; */
  z-index: 1;
}

.menu-text{
  color: #ECB365;
}

.menu-bg{
  position: absolute;
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  filter: brightness(40%);
  z-index: 0;
}

.menu-btn{
  /* position: absolute; */
  margin: 20px;
  width: 150px;
  height: 50px;
  background: #aec3dc;
  color: #151515;
  border: 1px rgb(19, 19, 19) solid;
  border-radius: 20px;
  font-size: 20px;
}

.menu-greencheck{
  position: absolute;
  width: 25px; 
  height: 25px;
}